<template>
  <div>
    <h1>Обо мне</h1>
    <h3>Имя:</h3>
    <p>{{ userName }}</p>
    <h3>Email:</h3>
    <p>{{ userEmail }}</p>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        userName: 'Антон',
        userEmail: 'skripchenkordp@gmail.com',
      }
    }
  }
</script>