<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><router-link to="/">Тестовое задание</router-link></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <router-link to="/">
        <li class="nav-item">
          <a class="nav-link" >Главная</a>
        </li>
      </router-link>
      <router-link to="/about">
        <li class="nav-item">
          <a class="nav-link">Обо мне</a>
        </li>
      </router-link>
        <li class="nav-item">
          <a class="nav-link" href="" @click.prevent="logout">Выход</a>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
  export default {
    methods: {
      logout(){
        localStorage.removeItem('token');
        this.$router.push('/login');
      }
    }
  }
</script>