<template>
  <div>
  <div class="jumbotron containers">
  <h1 class="display-4">Добро пожаловать!</h1>
  <p class="lead">Ниже можно тыкнуть на модальное окно.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="" role="button" data-toggle="modal" data-target="#exampleModal">Модалочка</a>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Модальное окно</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Ок</button>
      </div>
    </div>
  </div>
</div>
  </div>
</template>