<template>
  <div>
    <h1>Авторизация</h1>
  <div class="col-lg-3 col-md-2">
    <form class="container" @submit.prevent="login">
  <div class="form-group">
    <label for="exampleInputEmail1">Логин</label>
    <input type="text" class="form-control" v-model="userName" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Пароль</label>
    <input type="password" class="form-control" v-model="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>
  </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        userName: '',
        password: '',
      }
    },
    methods: {
      login(){
        // Локальное хранилище данных для авторизации
        if( this.userName == 'Login' && this.password == '1337' ){
          localStorage.setItem('token', 'Login')
          this.$router.push('/');
        } else{
          alert('Ошибочка')
        }
      }
    } 
  }
</script>
